@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-input{
  @apply px-3 py-1 border border-slate-400 rounded text-slate-700;
}

.custom-input:focus{
  box-shadow: 0 0 10px #719ECE; 
  border-color: #66afe9;
}

.chat-message-round {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}